* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  /* display: flex; */
  /* justify-content: center; */
  padding: 60px 5px 100px 20px;
  /* align-items: center; */
  min-height: 100vh;
}
nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
ul li {
  margin-right: 10px;
  font-size: 14px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #6b6969;
  color: #fff;
  cursor: pointer;
}
.form {
  width: 270px;
  min-height: 400px;
  border: 1px solid rgb(186, 181, 181);
  border-radius: 5px;
  padding-bottom: 20px;
  /* overflow-y: scroll; */
}
.resform {
  width: 270px;
  /* height: 500px; */
  border: 1px solid rgb(186, 181, 181);
  border-radius: 3px;
}
.res__header {
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background-color: rgb(220, 219, 219);
  border-bottom: 1px solid rgb(186, 181, 181);
}
.resform__body {
  padding: 15px 8px;
}
.inp {
  margin-bottom: 7px;
}
.inp p {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: 600;
}
.inp input {
  width: 100%;
  /* height: 22px; */
  padding: 2px 5px;
  border: 1px solid rgb(186, 181, 181);
  border-radius: 3px;
  outline: none;
}
.dynamic__field {
  display: flex;
  border: 1px solid rgb(186, 181, 181);
}
.dynamic__field input {
  border: none;
  outline: none;
  padding: 2px 5px;
  width: 55%;
}
.datePicker {
  width: 100%;
  background-color: red;
}
.datePicker input {
  width: 100%;
  background-color: red;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 23px;
  margin-top: 1.5px;
  border: 1px solid rgb(186, 181, 181);
}
.react-datepicker__input-container{
  border: none;

}
